<!-- admin_dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
        body {
            display: flex;
        }

        .sidebar {
            width: 250px;
            background-color: #f1f1f1;
            padding: 20px;
        }

        .content {
            flex-grow: 1;
            padding: 20px;
        }

        .sidebar a {
            display: block;
            padding: 10px;
            margin-bottom: 10px;
            text-decoration: none;
            color: #333;
        }

        .sidebar a:hover {
            background-color: #ddd;
        }

        .description-cell {
            max-height: 3.6em;
            /* Adjust based on your font size and line height */
            overflow: hidden;
        }

        .description-content {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <a href="/admin_dashboard">Dashboard</a>
        <a href="/admin_books">Books</a>
        <a href="/admin_comments">Comments</a>
        <a href="/admin_users">Users</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="content">
        <h1>Welcome to the Admin Dashboard</h1>

        <div>
            <h2>User Count: <%= userCount %></h2>
            <h2>Book Count: <%= bookCount %></h2>
            <h2>Comment Count: <%= commentCount %></h2>
        </div>
    </div>
</body>

</html>